[submodule "hearingroom-client"]
	path = hearingroom-client
	url = https://github.com/kinern/hearingroom-client
[submodule "hearingroom-server"]
	path = hearingroom-server
	url = https://github.com/kinern/hearingroom-server
